.container {
  padding: 1rem;
}

.country-wrapper {
  margin: 1.5rem 0;
  display: block;
  padding: 0.4rem 0.5rem;
  width:fit-content;
}

.country-text {
  font-family: var(--archivo-font);
  font-size: var(--font-regular);
  color:var(--color-black);
}

.country-icon {
    color: var(--color-black);
    font-size: var(--font-small-text);
}
