.introduction-wrapper {
  margin-bottom: 5rem;
  text-align: center;
  font-size: var(--font-sub-title);
  font-weight: 500;
  padding: 1rem;
  color: var(--color-white);
  border-radius: var(--border-radius-big);
  background-color: var(--color-pink);
}

.big-text {
  margin-bottom: 0.7rem;
  font-family: var(--bodoni-font);
  font-weight: 500;
}
