.navbar-wrapper {
    width:80%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width:550px) {
    .navbar-wrapper {
        width:85%;
    } 
}