.ingredients-alergens-wrapper {
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:2.5rem 0;
}

.ingredients-alergens-wrapper:first-child {
    border-bottom: 2px solid var(--color-gray);
    padding-bottom:2.5rem;
}

.ingredients-alergens-items-wrapper {
    display:flex;
    flex-wrap: wrap;
}


.ingredients-alergens-title {
    font-size:var(--font-regular-text);
    font-family: var(--roboto-font);
    color:var(--color-black);
    border-radius: var(--border-radius-small);
    padding: 0.3rem;
    font-weight: 500;
}

.ingredients-alergens-image {
    margin: 1rem 0;
}

.ingredient-alergens-item {
    margin: 0.2rem;
    padding: 0.2rem;
    background-color: var(--color-gray);
    font-family: var(--roboto-font);
    font-size: var(--font-small-text);
}