.filter-title-wrapper {
  text-align: center;
  font-size: var(--font-sub-title);
  font-weight: 500;
  padding: 1.2rem;
  color: var(--color-white);
  border-radius: var(--border-radius-big);
  background-color: var(--color-pink);
  margin-bottom:1rem;
}

.big-text {
  font-family: var(--bodoni-font);
  font-weight: 500;
}
