.input {
    font-size: var(--font-small);
    font-family: var(--roboto-font);
    font-weight: 300;
    border:none;
    padding:0.8rem;
    background-color: var(--color-white);
    color:var(--color-black);
    outline: none;
}

.input::placeholder {
    color:var(--color-black);
    font-size: var(--font-small-text);
}
