.card {
    border-radius: var(--border-radius-small);
    -webkit-box-shadow: 0 0 5px var(--color-gray);
        box-shadow: 0 0 5px var(--color-gray);
        background-color: var(--color-white);
}

