.logo-wrapper {
    display:flex;
    align-items: center;
    cursor: pointer;
}

.logo-title {
    font-size: var(--font-title);
    font-family: var(--roboto-font);
    color: var(--color-black)
}

.logo-image {
    width:60px;
    height:60px;
    margin-right:0.5rem;
}

