.logo-wrapper {
    display:flex;
    align-items: center;
    cursor: pointer;
}

.logo-title {
    font-size: var(--font-title);
    font-family: var(--archivo-font);
    color: var(--color-white);
}

.logo-image {
    width:60px;
    height:60px;
    margin-right:0.3rem;
}


@media(max-width:550px) {
    .logo-image {
        width: 45px;
        height:45px;
    }

    .logo-title {
        font-size: var(--font-sub-title);
       
    }
   
}

